*,
*::after,
*::before {
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
    margin: 0;
    padding: 0;  
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;  
    color: rgb(41, 88, 65);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding-bottom: 10px;
}

.header {
    background-color: #e0d089;
    padding: 20px 20px;
    font-size: 20px;
    line-height: 25px;    
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    
}

.title {
    color: #e0d089;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.header__burger-btn {
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 3;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #000;
    left: 5px;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span {
    background-color: rgb(41, 88, 65);
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0)  rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__link {  
    position: relative;
    padding: 0 20px;
}

.nav__link::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -4px;
    width: 0;
    height: 2px; 
    background-color: rgb(41, 88, 65);
    transition: width 0.5s;
}

.nav__link:hover::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    background-color: rgb(41, 88, 65);
    transition: width 0.5s;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50% ;
    padding: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid  #e0d089;
}

.section-item {
    position: relative;
    margin: 0;
    padding-left: 30px;
}

.section-item::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 2px;
    width: 18px;
    height: 18px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-image: url(/rsschool-cv/img/marker.svg);
}

.section:nth-child(7),
.section:last-child {
    border-bottom: none;
}

.pre {
    display: block;
    padding: 0;
    margin: 0;
    white-space: pre-line;
}

.profile {
    padding: 70px 0;
}

.profile-info {
    display: flex;
    justify-content: space-around;  
}

.profile-logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 3px #e0d089 ;
}

.wrapper-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-title {
    position: relative;
    font-size: 32px;
    font-weight: 300;
    line-height: 25px;
    color: #e0d089;
    letter-spacing: 6px;
    text-transform: uppercase; 
}

.profile-title::after {
    content: '';
    position: absolute;
}

.profile-subtitle{
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    color: #e0d089;
    letter-spacing: 4px;
    text-transform: uppercase;         
}

.contacts__nav-item {
    padding-bottom: 20px;
}

.contacts__nav-link {
    padding: 5px;
    border: 1px solid #e0d089;
    border-radius: 10px;
    transition: 0.8s;
}

.contacts__nav-link:hover {
    background-color: rgb(41, 88, 65);
    border: 1px solid rgb(41, 88, 65);
    transition: 0.8s;
    color: #e0d089;
}

.footer {
    background-color: #e0d089;
    padding: 20px 20px;
    font-size: 22px;
    line-height: 25px; 
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    font-weight: 700;
    padding-top: 10px;
    color: #000;
}

.footer__logo {
    width: 200px;
    height: 40px;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 1px 3px #e0d089 ;
}


.train {
    font-size: 48px;
}
@media (max-width: 1100px) {
    .header__burger-btn {
        display: block;
    }
    .nav {
        position: absolute;
        left: -375px;
        top: 0;
        width: 375px;
        background-color: #e0d089;
        padding: 80px 20px 20px 20px;
        transition: transform .5s;
        z-index: 2;
    }
    .nav__list {
       display: block; 
    }
    .nav__link {
        color:rgb(41, 88, 65);
        font-size: 21px;
        display: block;
        padding: 10px 0;        
    }
    .nav__link::after {
        display: none;
    }
    .nav__link:hover::after {
        display: none;
    }
    .header.open .nav {
        transform:  translateX(100%)
    }
    
}

@media (max-width: 830px) {
    .section {
        width: 100%;
    }
    .profile-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer__info {
        padding-bottom: 10px;
    }
   
}
